@charset 'UTF-8';


/*
COLORS
================================================ */
:root {  /* カスタムプロパティ */
    --light-blue: #4db1ec;
    --blue: #1665cc;
    --purple: #b473bf;
    --pink: #ffb2c1;
    --orange: #ff9f67;
    --yellow: #ffd673;
    --light-green: #a2e29b;
    --green: #00a2af;
    --grey: #333;
    --white: #fff;
    --black: #000;
}



html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Layout */
.wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1rem;
}
h1, h2, p, h3{
    text-align: center;
}
h2{
    font-size: 3rem;
}
p {
    line-height: 1.7;
}

/*
HEADER
================================================ */
header {
    height: 40px;
    background: var(--black);
    padding: 1rem 0;
    position: fixed;  /* 上部分に常に固定 */
    width: 100%;
    z-index: 1;  /* 要素の重なりの順書を指定し、値が大きいほど前面に表示される */
}


header a {
    color: var(--white);
    font-size: 1.5rem;
}
header .wrapper{
    display: flex;
    justify-content: space-between;
}
.btn-menu {
    position: absolute;
    top: 12px;
    right: 12px;
    color: var(--black);
    width: 60px;
    height: 60px;
    clip-path: circle(49% at 50% 50%);
    z-index: 1;
}
.main-nav {
    background: var(--black);
    width: 100%;     /* 最初は非表示 */
    position: absolute;
    z-index: 2;
    top: 56px;
    right: 0;
    overflow: hidden;
    transition: 1.5s;  /* アニメーション */
    transform: translateX(100%);
}
.main-nav li {
    text-align: center;
    margin: 2rem 0;
    list-style: none;
}
.main-nav a {
    display: block;
}

.main-nav.open-menu { /* open-menuクラスが追加されたとき */
    transform: translateX(0);  /* メニューを画面内に表示 */
}


/*====home=============
*/


#home{
    height: 100%;
    width: 100%;
    padding: 4rem 0 0 0;
    background-image:url("../image/home_image_small.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}




#home h1{
    font-size: 2.1rem;
    margin-bottom: 1.5rem;
    padding: 2.5rem 0 0 0;
}
.date {
    text-align: center;
    border-bottom: 3px solid var(--grey);
    padding: 40vh 0 0 0;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}


/*===shops======================*/
#shops{
    width: 100%;
    background-color: lightblue;
    padding: 7rem 0;
    text-align: center;
}
#shops p{
   margin: 0 3rem;
}
#shops img{
    max-width: 100%;
    height: auto;
}



/*==pamphlet====================*/
#pamphlet{
    width: 100%;
    background-color: #add8e6;
    padding: 4.1rem 0;
    text-align: center;
    padding-top: 8rem;
}
object{
    width: 100%;
    height: 100vh;
}



/*=======others=======*/
#others {
    width: 100%;
    background-image:  repeating-linear-gradient(0deg, #4db1ec, #14a9ff 2px, #b1ddf7 2px, #bed5e2);
    padding: 7rem 0;
    z-index: 5;
}
#others h2 {
    color: var(--white);
    
}
#others 
.others-table {
    border-radius: 1rem;
    border: 2px dotted #999;
}
.others-table td {
    line-height: 1.5;
    font-size: 1.3rem;
}
.others-date {
    font-size: .875rem;
    padding-top: 1rem;
}

/*======live=======*/
#live{
    width: 100%;
    background-image:  repeating-linear-gradient(0deg, #4db1ec, #14a9ff 2px, #b1ddf7 2px, #bed5e2);
    padding: 7rem 0;
    z-index: 5;
}
.live-content {
    border-radius: 1rem;
}
.live-content p {
    line-height: 1.5;
    font-size: 1.3rem;
}





.page{
    display: none;
}
.active{
    display: block;
}

@media (max-width: 600px){
    .desktop{
        display: none;
    }
}

@media (min-width: 600px) {


    .mobile{
        display: none;
    }
    h2 {
        font-size: 5rem;
    }
    a:hover,
    .ticket-btn:hover {  
        transition: .3s; 
    }
    a:hover {
        color: var(--blue);
    }
    .ticket-btn:hover {
        background: var(--blue);
    }

    /* Header */
     .include{
        height: 60px;
        background: var(--black);
        padding: 1rem 0;
        position: fixed;  /* 上部分に常に固定 */
        width: 100%;
        z-index: 1; 
    }
    .include a{
        color: var(--white);
        font-size: 1.5rem;
        list-style: none;
    }
    .include a:hover{
        color: #1665cc;
    }
    .include ul{
        display: flex;
        justify-content: space-around;
        flex-direction: row; /* 横並び */
    }




    #home{
        height: 110vh;
        background-image:url("../image/home_image.png");
        background-position: center;
        background-size: cover;
    }
    #home h1{
        padding: 0.5rem 0 0 0;
        font-size: 2.5rem;
    }
    #home .date{
        padding: 77vh 0 0 0;
        font-size: 2.5rem;
        border: none;
    }

    section .main-text{
        font-size: 1.5rem;
    }
    #shops .mobile{
        display: none;
    }
    #shops img{
        width: 100%;

    }

    .others-table td {
        display: table-cell;
    }
    .others-content {
        max-width: 40vw;
        padding: 1rem 10rem 1rem 35vw;
    }

    .live-content{
        max-width: 40vw;
        padding: 1rem 10rem 1rem 35vw;
    }
}